Repository alicenet/alicenet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nelsonhp, @alicenet/go-reviewers, @alicenet/sol-reviewers

Put require back
  bridge/contracts/libraries/snapshots/SnapshotRingBuffer.sol
Owners: @alicenet/sol-reviewers

clean up readme
  layer1/README.md
Owners: none

Loosen code coverage to 50% (#136)
  codecov.yml
Owners: none

Added Error Handling
  bridge/contracts/DutchAuction.sol
  bridge/contracts/libraries/errors/DutchAuctionErrors.sol
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/test/dutchAuction/test.ts
Owners: @alicenet/sol-reviewers

Discarded changes to README
  layer1/README.md
Owners: none

Testing accusations
  bridge/bindings/MultipleProposalAccusation.go
  bridge/bindings/MultipleProposalAccusation.iface.c.go
  bridge/bindings/bindings-artifacts/MultipleProposalAccusation.json
  bridge/bindings/mapping.go
  bridge/contracts/MultipleProposalAccusation.sol
  consensus/accusation/detect_multiple_proposal.go
  consensus/accusation/manager.go
  layer1/ethereum/contracts.go
  layer1/executor/task_handler.go
  layer1/executor/task_manager.go
  layer1/executor/tasks/accusations/multiple_proposal_accusation_task.go
  scripts/main.sh
Owners: @alicenet/go-reviewers, @alicenet/sol-reviewers

Copied over compress files from old repo.
  crypto/bn256/cloudflare/compress.go
  crypto/bn256/cloudflare/compress_test.go
Owners: @alicenet/go-reviewers

Accusations are already submitted to smart contracts
  bridge/bindings/MultipleProposalAccusation.go
  bridge/bindings/MultipleProposalAccusation.iface.c.go
  bridge/bindings/bindings-artifacts/MultipleProposalAccusation.json
  bridge/bindings/mapping.go
  bridge/contracts/MultipleProposalAccusation.sol
  consensus/accusation/detect_multiple_proposal.go
  layer1/executor/tasks/accusations/multiple_proposal_accusation_task.go
  scripts/base-files/deploymentList
Owners: @alicenet/go-reviewers, @alicenet/sol-reviewers

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

consensus/		@nelsonhp

# Go code
*.go           @alicenet/go-reviewers
go.mod         @alicenet/go-reviewers
.golangci.yaml @alicenet/go-reviewers

# Solidity Code
*.sol        @alicenet/sol-reviewers
*.ts         @alicenet/sol-reviewers
package.json @alicenet/sol-reviewers
