Repository alicenet/alicenet, pull requests merged in 2022-07, with the labels that each got.

#51 Random package upgrading
  bridge/package-lock.json
  bridge/package.json
  bridge/test/factory/Setup.ts
  bridge/test/setup.ts
  bridge/test/snapshots/leader-election.test.ts
  bridge/test/stakingDescriptor/metadata.test.ts
Labels: dependencies, javascript

#36 Fix the Hardhat setup
  .github/workflows/ci.yml
  bridge/bindings/mapping/function_mapping.go
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/deployment/deploymentConfigUtil.ts
  bridge/scripts/lib/deployment/factoryStateUtil.ts
  layer1/ethereum/ethereum.go
  layer1/ethereum/tests/ethereum_test.go
  layer1/ethereum/tests/setup_test.go
  layer1/executor/task_scheduler_test.go
  layer1/executor/tasks/base_task.go
  layer1/executor/tasks/dkg/dispute_missing_registration.go
  layer1/executor/tasks/dkg/state/generate_test.go
  layer1/executor/tasks/dkg/state/state_test.go
  layer1/executor/tasks/dkg/state/validate_test.go
  layer1/executor/tasks/dkg/tests/completion_test.go
  layer1/executor/tasks/dkg/tests/dispute_gpkj_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_gpkj_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_key_shares_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_registration_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_share_distribution_test.go
  layer1/executor/tasks/dkg/tests/dispute_share_distribution_test.go
  layer1/executor/tasks/dkg/tests/gpkj_submission_test.go
  layer1/executor/tasks/dkg/tests/keyshare_submission_test.go
  layer1/executor/tasks/dkg/tests/mpk_submission_test.go
  layer1/executor/tasks/dkg/tests/register_test.go
  layer1/executor/tasks/dkg/tests/setup_test.go
  layer1/executor/tasks/dkg/tests/share_distribution_test.go
  layer1/executor/tasks/dkg/tests/utils/advance_phases.go
  layer1/executor/tasks/dkg/tests/utils/setup.go
  layer1/monitor/events/tests/ethdkg_test.go
  layer1/tests/hardhat.go
  layer1/tests/setup.go
  scripts/base-scripts/hardhat_node.sh
  test/mocks/interfaces_ethereum.go
  test/mocks/interfaces_monitor.go
Labels: go, javascript, actions

#34 Add a script to do layer 1 stress tests
  cmd/testutils/layer1_tx_spammer/dummy_contract/DummyContract.go
  cmd/testutils/layer1_tx_spammer/main.go
Labels: go

#61 cleaned up comment block in AliceNetFactoryBase.sol
  bridge/contracts/libraries/factory/AliceNetFactoryBase.sol
Labels: solidity

#63 Fix log level on killed tasks
  layer1/executor/task_scheduler.go
  layer1/executor/tasks/base_task.go
Labels: go

#31 Refactor accusations
  bridge/contracts/InvalidTxConsumptionAccusation.sol
  bridge/contracts/MultipleProposalAccusation.sol
  bridge/contracts/libraries/errorCodes/ImmutableAuthErrorCodes.sol
  bridge/contracts/utils/AccusationsLibrary.sol
  bridge/contracts/utils/ImmutableAuth.sol
  bridge/scripts/generateImmutableAuth.ts
  bridge/test/accusations/accusations-library.test.ts
  bridge/test/accusations/accusations-test-helpers.ts
  bridge/test/accusations/invalid-transaction-consumption-accusations.test.ts
  bridge/test/accusations/multiple-proposal-accusations.test.ts
  bridge/test/contract-mocks/accusation/AccusationsLibraryMock.sol
  bridge/test/contract-mocks/validatorPool/ValidatorPoolMock.sol
  bridge/test/setup.ts
Labels: javascript, solidity

#72 Remove singleton pattern from ethereum smart contracts setup
  cmd/utils/utils.go
  cmd/validator/validator.go
  layer1/ethereum/contracts.go
  layer1/ethereum/ethereum.go
  layer1/ethereum/tests/setup_test.go
  layer1/executor/task_manager.go
  layer1/executor/task_manager_test.go
  layer1/executor/task_scheduler.go
  layer1/executor/tasks/base_task.go
  layer1/executor/tasks/dkg/completion.go
  layer1/executor/tasks/dkg/dispute_gpkj.go
  layer1/executor/tasks/dkg/dispute_missing_gpkj.go
  layer1/executor/tasks/dkg/dispute_missing_key_shares.go
  layer1/executor/tasks/dkg/dispute_missing_registration.go
  layer1/executor/tasks/dkg/dispute_missing_share_distribution.go
  layer1/executor/tasks/dkg/dispute_share_distribution.go
  layer1/executor/tasks/dkg/gpkj_submission.go
  layer1/executor/tasks/dkg/keyshare_submission.go
  layer1/executor/tasks/dkg/mpk_submission.go
  layer1/executor/tasks/dkg/register.go
  layer1/executor/tasks/dkg/share_distribution.go
  layer1/executor/tasks/dkg/tests/completion_test.go
  layer1/executor/tasks/dkg/tests/dispute_gpkj_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_gpkj_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_key_shares_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_registration_test.go
  layer1/executor/tasks/dkg/tests/dispute_missing_share_distribution_test.go
  layer1/executor/tasks/dkg/tests/dispute_share_distribution_test.go
  layer1/executor/tasks/dkg/tests/gpkj_submission_test.go
  layer1/executor/tasks/dkg/tests/keyshare_submission_test.go
  layer1/executor/tasks/dkg/tests/mpk_submission_test.go
  layer1/executor/tasks/dkg/tests/register_test.go
  layer1/executor/tasks/dkg/tests/setup_test.go
  layer1/executor/tasks/dkg/tests/share_distribution_test.go
  layer1/executor/tasks/dkg/tests/utils/setup.go
  layer1/executor/tasks/dkg/utils/utils.go
  layer1/executor/tasks/interfaces.go
  layer1/executor/tasks/snapshots/snapshot.go
  layer1/handlers/contracts.go
  layer1/layer1.go
  layer1/monitor/events/deposits.go
  layer1/monitor/events/dynamics.go
  layer1/monitor/events/ethdkg.go
  layer1/monitor/events/setup.go
  layer1/monitor/events/snapshots.go
  layer1/monitor/events/validators.go
  layer1/monitor/monitor.go
  layer1/monitor/monitor_test.go
  layer1/monitor/objects/event_map.go
  layer1/tests/setup.go
  test/mocks/generate.go
  test/mocks/interfaces_ethereum.mockgen.go
  test/mocks/interfaces_executor.mockgen.go
Labels: go

#32 Applying prettier to all files
  .devcontainer/devcontainer.json
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/alicenet-config/action.yml
  .github/actions/geth-eth-cache/action.yml
  .github/actions/golang-cache/action.yml
  .github/actions/solidity-tests/action.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .golangci.yaml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  Makefile
  README.md
  bridge/.prettierignore
  bridge/.prettierrc
  bridge/.solhint.json
  bridge/README.md
  bridge/package.json
  buf.yaml
  docker-compose.yml
  localrpc/swagger/alicenet.swagger.json
  proto/localstate.swagger.json
  scripts/base-files/deploymentList.json
  scripts/base-files/genesis.json
Labels: dependencies, javascript, actions, proto, docker, docs

#84 Add docs on how to create tasks and register events
  layer1/README.md
  layer1/executor/tasks/base_task.go
  layer1/executor/tasks/examples/simple_task.go
Labels: go, docs

#88 Trying to get more coverage info
  .github/workflows/ci.yml
  codecov.yml
Labels: actions

#93 Raise solidity linter warning to errors
  bridge/.solhint.json
  bridge/contracts/InvalidTxConsumptionAccusation.sol
  bridge/contracts/MultipleProposalAccusation.sol
  bridge/test/accusations/invalid-transaction-consumption-accusations.test.ts
  bridge/test/accusations/multiple-proposal-accusations.test.ts
  bridge/test/contract-mocks/validatorPool/ValidatorPoolMock.sol
Labels: javascript, solidity

#66 added merkle proof library tests
  bridge/contracts/utils/MerkleProofLibrary.sol
  bridge/test/chai-helpers.ts
  bridge/test/contract-mocks/utils/MockMerkleProofLibrary.sol
  bridge/test/merkleProof/merkle-proof-library.test.ts
  bridge/test/merkleProof/setup.ts
Labels: javascript, solidity

#92 Updated Bonding Curve
  bridge/contracts/BToken.sol
  bridge/contracts/libraries/math/Sigmoid.sol
  bridge/test/contract-mocks/math/MockSigmoid.sol
  bridge/test/math/sigmoid.test.ts
Labels: javascript, solidity

#96 Add tool to remove hardhat console logs from contracts
  bridge/contracts/AToken.sol
  bridge/contracts/StateMigration.sol
  bridge/hardhat.config.ts
  bridge/package-lock.json
  bridge/package.json
  bridge/test/contract-mocks/publicStaking/ReentrantMocks.sol
  bridge/test/contract-mocks/registration/RegisterValidators.sol
Labels: dependencies, javascript, solidity

#26 CI Coverage for Node
  .github/workflows/ci.yml
  bridge/.mocharc.json
  bridge/hardhat.config.ts
  bridge/test/setup.ts
Labels: javascript, actions

#97 CodeCov badge including solidity
  .github/workflows/ci.yml
  README.md
  codecov.yml
Labels: actions, docs

#100 Adding in integration code coverage
  .github/workflows/ci.yml
Labels: actions

#99 Bump solidity and openzeppelin versions
  bridge/bindings/AToken.go
  bridge/bindings/AToken.iface.f.go
  bridge/bindings/BToken.go
  bridge/bindings/BToken.iface.f.go
  bridge/bindings/ETHDKG.go
  bridge/bindings/ETHDKG.iface.f.go
  bridge/bindings/PublicStaking.go
  bridge/bindings/PublicStaking.iface.f.go
  bridge/bindings/PublicStaking.iface.t.go
  bridge/bindings/Snapshots.go
  bridge/bindings/Snapshots.iface.f.go
  bridge/bindings/ValidatorPool.go
  bridge/bindings/ValidatorPool.iface.f.go
  bridge/bindings/ValidatorStaking.go
  bridge/bindings/ValidatorStaking.iface.f.go
  bridge/bindings/ValidatorStaking.iface.t.go
  bridge/bindings/bindings-artifacts/AToken.json
  bridge/bindings/bindings-artifacts/BToken.json
  bridge/bindings/bindings-artifacts/ETHDKG.json
  bridge/bindings/bindings-artifacts/PublicStaking.json
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/bindings/bindings-artifacts/ValidatorPool.json
  bridge/bindings/bindings-artifacts/ValidatorStaking.json
  bridge/hardhat.config.ts
  bridge/package-lock.json
  bridge/package.json
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/test/publicStaking/business-logic/burn.test.ts
  bridge/test/publicStaking/business-logic/collect.test.ts
  bridge/test/publicStaking/business-logic/lock.test.ts
  bridge/test/publicStaking/business-logic/transfer.test.ts
  bridge/test/validatorPool/business-logic/register.test.ts
  bridge/test/validatorPool/valid-access-controls.test.ts
  layer1/monitor/events/tests/ethdkg_test.go
  test/mocks/bindings.mockgen.go
Labels: dependencies, go, javascript

#108 Fixing capnp generate
  application/objs/capn/generate.go
  consensus/objs/capn/generate.go
  localrpc/swagger/alicenet.swagger.json
Labels: go

#87 fix and add monitor and txwatcher tests
  layer1/executor/tasks/base_task.go
  layer1/monitor/monitor.go
  layer1/monitor/monitor_test.go
  layer1/tests/hardhat.go
  layer1/transaction/backend.go
  layer1/transaction/backend_test.go
  layer1/transaction/tests/setup_test.go
  layer1/transaction/tests/transaction_test.go
  layer1/transaction/transaction.go
  layer1/transaction/transaction_test.go
  layer1/transaction/worker_pool.go
Labels: go

#83 Solidity native errors - Alicenet factory base/base64 lib/base parser lib/bclaims parser lib
  bridge/contracts/BToken.sol
  bridge/contracts/libraries/errorCodes/AliceNetFactoryBaseErrorCodes.sol
  bridge/contracts/libraries/errorCodes/BClaimsParserLibraryErrorCodes.sol
  bridge/contracts/libraries/errorCodes/BTokenErrorCodes.sol
  bridge/contracts/libraries/errorCodes/Base64ErrorCodes.sol
  bridge/contracts/libraries/errorCodes/BaseParserLibraryErrorCodes.sol
  bridge/contracts/libraries/errors/AdminErrors.sol
  bridge/contracts/libraries/errors/AliceNetFactoryBaseErrors.sol
  bridge/contracts/libraries/errors/BClaimsParserLibraryErrors.sol
  bridge/contracts/libraries/errors/BTokenErrors.sol
  bridge/contracts/libraries/errors/Base64Errors.sol
  bridge/contracts/libraries/errors/BaseParserLibraryErrors.sol
  bridge/contracts/libraries/factory/AliceNetFactoryBase.sol
  bridge/contracts/libraries/parsers/BClaimsParserLibrary.sol
  bridge/contracts/libraries/parsers/BaseParserLibrary.sol
  bridge/contracts/utils/Base64.sol
  bridge/test/bToken/burn.test.ts
  bridge/test/bToken/deposit.test.ts
  bridge/test/bToken/mint.test.ts
  bridge/test/bToken/settings.test.ts
  bridge/test/chai-helpers.ts
  bridge/test/errorCodes/alice-net-factory-base-error-codes.test.ts
  bridge/test/errorCodes/base-parser-library-error-codes.test.ts
  bridge/test/errorCodes/base64-error-codes.test.ts
  bridge/test/errorCodes/bclaims-parser-lib-error-codes.test.ts
  bridge/test/errorCodes/btoken-error-codes.test.ts
  bridge/test/errorCodes/circuit-breaker-error-codes.test.ts
  bridge/test/errorCodes/crypto-library-error-codes.test.ts
  bridge/test/errorCodes/custom-enumerable-maps-error-codes.test.ts
  bridge/test/errorCodes/ethdkg-error-codes.test.ts
  bridge/test/errorCodes/governance-error-codes.test.ts
  bridge/test/errorCodes/immutable-auth-error-codes.test.ts
  bridge/test/errorCodes/magic-token-transfer-error-codes.test.ts
  bridge/test/errorCodes/magic-value-error-codes.test.ts
  bridge/test/errorCodes/merkle-proof-parser-error-codes.test.ts
  bridge/test/errorCodes/mutex-error-codes.test.ts
  bridge/test/errorCodes/pclaims-parser-library-error-codes.test.ts
  bridge/test/errorCodes/rcert-parser-library-error-codes.test.ts
  bridge/test/errorCodes/rclaims-parser-library-error-codes.test.ts
  bridge/test/errorCodes/setup.ts
  bridge/test/errorCodes/snapshots-error-codes.test.ts
  bridge/test/errorCodes/stakenft-error-codes.test.ts
  bridge/test/errorCodes/tx-in-pre-image-parser-library-error-codes.test.ts
  bridge/test/errorCodes/validator-pool-error-codes.test.ts
  bridge/test/factory/MadnetFactory.test.ts
Labels: javascript, solidity

#73 Implement leader election algorithm for the snapshots
  bridge/bindings/Snapshots.go
  bridge/bindings/Snapshots.iface.c.go
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/contracts/Snapshots.sol
  bridge/test/snapshots/leader-election.test.ts
  consensus/admin/handlers.go
  layer1/executor/tasks/dkg/completion.go
  layer1/executor/tasks/dkg/mpk_submission.go
  layer1/executor/tasks/dkg/tests/completion_test.go
  layer1/executor/tasks/dkg/tests/mpk_submission_test.go
  layer1/executor/tasks/dkg/tests/setup_test.go
  layer1/executor/tasks/dkg/utils/utils.go
  layer1/executor/tasks/snapshots/snapshot.go
  layer1/executor/tasks/snapshots/state/state.go
  layer1/monitor/interfaces/interfaces.go
  layer1/monitor/monitor.go
  layer1/monitor/monitor_test.go
  test/mocks/interfaces_monitor.mockgen.go
  utils/leader_election.go
Labels: go, javascript, solidity

#111 Fix alicenet txs bugs
  application/txhandler.go
Labels: go

#112 Fix overflow on the hardhat deposit script
  bridge/scripts/lib/alicenetTasks.ts
Labels: javascript

#70 Port of MadNet PR 148
  .github/workflows/ci.yml
  consensus/db/rawdb.go
  consensus/dman/dman.go
  consensus/lstate/fastsync.go
  consensus/lstate/handlers.go
  consensus/lstate/rstate.go
  consensus/synchronizer.go
Labels: go, actions

#113 Update contract bindings
  bridge/bindings/AliceNetFactory.go
  bridge/bindings/BToken.go
  bridge/bindings/BTokenErrorCodes.go
  bridge/bindings/BTokenErrorCodes.iface.c.go
  bridge/bindings/BTokenErrorCodes.iface.f.go
  bridge/bindings/BTokenErrorCodes.iface.t.go
  bridge/bindings/BTokenErrors.go
  bridge/bindings/BTokenErrors.iface.c.go
  bridge/bindings/BTokenErrors.iface.f.go
  bridge/bindings/BTokenErrors.iface.t.go
  bridge/bindings/Snapshots.go
  bridge/bindings/bindings-artifacts/AliceNetFactory.json
  bridge/bindings/bindings-artifacts/BToken.json
  bridge/bindings/bindings-artifacts/BTokenErrorCodes.json
  bridge/bindings/bindings-artifacts/BTokenErrors.json
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/bindings/generate.sh
  bridge/bindings/iface.go
  bridge/bindings/mapping.go
Labels: go

#114 Fix garbage collector errors
  cmd/testutils/dbclean/dbclean.go
  consensus/db/rawdb.go
  consensus/synchronizer.go
  utils/shared.go
Labels: go

#116 Fix setNextHeight error handling
  consensus/lstate/rstate.go
Labels: go
