Repository alicenet/alicenet, pull requests merged in 2022-09, with the labels that each got.

#232 Add ethkey functionality as alicenet built int CLI commands
  cmd/ethkey/ethkey.go
  cmd/main.go
  config/settings.go
  constants/shared.go
  scripts/main.sh
  tools.go
Labels: go

#217 Add missing natspec comments on Smart Contracts functions
  bridge/bindings/bindings-artifacts/ATokenBurner.json
  bridge/bindings/bindings-artifacts/ATokenMinter.json
  bridge/contracts/ATokenBurner.sol
  bridge/contracts/ATokenMinter.sol
  bridge/contracts/Foundation.sol
  bridge/contracts/Proxy.sol
  bridge/contracts/Snapshots.sol
  bridge/contracts/libraries/metadata/StakingDescriptor.sol
Labels: solidity

#253 Removing old Dockerfiles
  docker/apply-permvars-alpine.sh
  docker/geth/Dockerfile
  docker/madnet/Dockerfile
  docker/script-runner/Dockerfile
  docker/set-permvars.sh
  docker/update-container.sh
Labels: docker

#254 Updating buf dependencies
  buf.lock
Labels: proto

#264 Adding in signing to releases
  .github/workflows/ci.yml
  .github/workflows/releaser.yml
  .goreleaser.yaml
Labels: actions

#266 Move ALCA deployment to factory parent contract
  bridge/bindings/BToken.go
  bridge/bindings/bindings-artifacts/BToken.json
  bridge/contracts/AliceNetFactory.sol
  bridge/contracts/BToken.sol
  bridge/contracts/libraries/factory/AliceNetFactoryBase.sol
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/alicenetTasks.ts
  bridge/test/factory/MadnetFactory.test.ts
Labels: go, javascript, solidity

#245 Add inspect and changepassword functionalities to ethkey command
  cmd/ethkey/changepassword.go
  cmd/ethkey/generate.go
  cmd/ethkey/inspect.go
  cmd/ethkey/utils.go
  cmd/main.go
  config/settings.go
  scripts/main.sh
Labels: go

#265 fix gossip closing
  consensus/gossip/handlers.go
Labels: go

#275 Ignore releaser ci on dependabot
  .github/workflows/ci.yml
Labels: actions

#285 Change log levels and add more info
  cmd/main.go
  layer1/ethereum/ethereum.go
Labels: go

#286 Add default case for etherscan api key in the hardhat config
  bridge/hardhat.config.ts
Labels: javascript

#231 Clean up script log output
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/alicenetTasks.ts
  scripts/base-scripts/deploy.sh
  scripts/base-scripts/deposit.sh
  scripts/base-scripts/ethdkg.sh
  scripts/base-scripts/register.sh
  scripts/base-scripts/schedule-maintenance.sh
  scripts/base-scripts/schedule_maintenance.sh
  scripts/base-scripts/unregister.sh
  scripts/main.sh
Labels: javascript

#250 Task name hyphenation + ALCA/ALCB in task names
  bridge/README.md
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/alicenetTasks.ts
  bridge/scripts/lib/constants.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/test/factory/CLI.test.ts
  scripts/base-scripts/deploy.sh
  scripts/base-scripts/deposit.sh
  scripts/base-scripts/ethdkg.sh
  scripts/base-scripts/hardhat-mainnet-fork.sh
  scripts/base-scripts/register.sh
  scripts/base-scripts/schedule-maintenance.sh
  scripts/base-scripts/schedule_maintenance.sh
  scripts/base-scripts/set-interval-mining.sh
  scripts/base-scripts/unregister.sh
Labels: javascript, docs

#149 Test snapshot leader election
  layer1/executor/tasks/dkg/state/generate_test.go
  layer1/executor/tasks/dkg/state/validate_test.go
  layer1/executor/tasks/tests/completion_test.go
  layer1/executor/tasks/tests/dispute_gpkj_test.go
  layer1/executor/tasks/tests/dispute_missing_gpkj_test.go
  layer1/executor/tasks/tests/dispute_missing_key_shares_test.go
  layer1/executor/tasks/tests/dispute_missing_registration_test.go
  layer1/executor/tasks/tests/dispute_missing_share_distribution_test.go
  layer1/executor/tasks/tests/dispute_share_distribution_test.go
  layer1/executor/tasks/tests/gpkj_submission_test.go
  layer1/executor/tasks/tests/keyshare_submission_test.go
  layer1/executor/tasks/tests/mpk_submission_test.go
  layer1/executor/tasks/tests/register_test.go
  layer1/executor/tasks/tests/setup_test.go
  layer1/executor/tasks/tests/share_distribution_test.go
  layer1/executor/tasks/tests/snapshot_test.go
  layer1/executor/tasks/tests/utils/setup.go
  layer1/tests/setup.go
  utils/leader_election.go
Labels: go

#229 CLI init command
  cmd/initialization/initialization.go
  cmd/main.go
  config/settings.go
  config/toml.go
  constants/shared.go
Labels: go
