Repository alicenet/alicenet, pull requests merged in 2022-08, with the labels that each got.

#132 clean up old files
  .vscode/launch.json
  README.md
  TechDocs/OnboardingDocumentation
  assets/config/bootnode.toml
  assets/config/owner.toml
  assets/config/validator0.compose.toml
  assets/config/validator0.toml
  assets/config/validator1.compose.toml
  assets/config/validator1.toml
  assets/config/validator10.toml
  assets/config/validator2.compose.toml
  assets/config/validator2.toml
  assets/config/validator3.compose.toml
  assets/config/validator3.toml
  assets/config/validator4.compose.toml
  assets/config/validator4.toml
  assets/config/validator5.toml
  assets/config/validator6.toml
  assets/config/validator7.toml
  assets/config/validator8.toml
  assets/config/validator9.toml
  assets/test/blockheaders.txt
  assets/test/keys/UTC--2020-03-24T13-41-09.685691521Z--546f99f244b7b58b855330ae0e2bc1b30b41302f
  assets/test/keys/UTC--2020-03-24T13-41-26.591584493Z--9ac1c9afbaec85278679ff75ef109217f26b1417
  assets/test/keys/UTC--2020-03-24T13-41-44.886736400Z--26d3d8ab74d62c26f1acc220da1646411c9880ac
  assets/test/keys/UTC--2020-08-24T13-10-02.689838610Z--615695c4a4d6a60830e5fca4901fba099df26271
  assets/test/keys/UTC--2020-08-24T13-10-13.226500073Z--63a6627b79813a7a43829490c4ce409254f64177
  assets/test/keys/UTC--2020-08-24T13-10-22.472595031Z--16564cf3e880d9f5d09909f51b922941ebbbc24d
  assets/test/keys/UTC--2021-11-03T13-21-38.332559000Z--de2328ce51aab2087bc60b46e00f4ce587c7a8a9
  assets/test/keys/UTC--2021-11-03T13-27-14.041464000Z--44a9ce0afd70ccae70b8ab5b6772e5ed8d695ea7
  assets/test/keys/UTC--2021-11-03T13-28-06.123787000Z--7fae97e8ef6abc96456b60bd6e97523e4c6fc9a2
  assets/test/keys/UTC--2021-11-03T13-48-41.638664000Z--23ea3bad9115d436190851cf4c49c1032fa7579a
  assets/test/keys/UTC--2021-11-03T13-49-43.200844000Z--33d0141b5647d554c5481204473fd81850f2970d
  assets/test/keys/UTC--2021-11-03T13-50-41.546133000Z--eba70dc631ea59a2201ee0b3213dca1549ffab48
  assets/test/keys/password.txt
  assets/test/passcodes.txt
  bridge/deployments/dev/deploymentArgsTemplate.json
  config/config_test.go
  config/config_test.toml
  docker-compose.yml
  scripts/base-scripts/geth-local-resume.sh
  scripts/base-scripts/geth-local.sh
  scripts/main.sh
Labels: go, docker, docs

#133 Adding in npm ci step for integration tests
  .github/workflows/ci.yml
Labels: actions

#134 move deposit info to debug for monitor
  layer1/monitor/events/deposits.go
Labels: go

#143 Formatting util packages with gofumpt/gci
  Makefile
  README.md
  config/config.go
  config/config_test.go
  config/settings.go
  constants/application.go
  constants/consensus.go
  constants/layer1.go
  constants/shared.go
  constants/transport.go
  interfaces/app.go
  interfaces/crypto.go
  interfaces/lockable.go
  middleware/ewouldblock.go
  middleware/peer.go
  types/initiator.go
  types/protocol.go
  utils/application_test.go
  utils/dbtools.go
  utils/leader_election.go
  utils/marshal_test.go
  utils/shared.go
  utils/shared_test.go
  utils/sorter.go
  utils/sorter_test.go
Labels: go, docs

#144 Formatting some networking packages with gofumpt/gci
  localrpc/client.go
  localrpc/client_test.go
  localrpc/handlers.go
  localrpc/handlers_test.go
  localrpc/local.go
  localrpc/setup_test.go
  peering/active.go
  peering/active_test.go
  peering/bootlistener.go
  peering/clienthandler.go
  peering/inactive.go
  peering/listener.go
  peering/muxhandler.go
  peering/p2pbus.go
  peering/p2pclient.go
  peering/peermanager.go
  peering/serverhandler.go
  status/status.go
  test/mocks/db.go
  test/mocks/objects.go
  transport/addr.go
  transport/brontide/listener.go
  transport/brontide/noise.go
  transport/brontide/noise_test.go
  transport/mux.go
  transport/mux_test.go
  transport/nodeaddr.go
  transport/p2pconn.go
  transport/p2pmuxconn.go
  transport/transport.go
  transport/transportFail_test.go
  transport/transportSuccess_test.go
  transport/utils.go
Labels: go

#152 Hacky fix to remove warning at boot
  cmd/main.go
Labels: go

#117 Update Integer Square Root Function
  bridge/contracts/libraries/math/Sigmoid.sol
  bridge/test/contract-mocks/math/MockSigmoid.sol
  bridge/test/math/sigmoid.test.ts
Labels: t/bug, javascript, solidity

#150 Updating to go 1.19
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  consensus/lstate/appman_test.go
  docker/madnet/Dockerfile
  go.mod
Labels: dependencies, go, actions, docker

#160 Basic goreleaser setup
  .github/workflows/releaser.yml
  .gitignore
  .goreleaser.yaml
Labels: actions

#158 Remove unused import
  cmd/validator/validator.go
Labels: go

#161 Fix integration tests
  .github/workflows/ci.yml
  layer1/tests/hardhat.go
Labels: go, actions

#159 Fix solidity linter warning
  bridge/test/contract-mocks/math/MockSigmoid.sol
  bridge/test/math/sigmoid.test.ts
Labels: javascript, solidity

#164 Remove unnecessary error bindings
  bridge/bindings/BTokenErrors.go
  bridge/bindings/BTokenErrors.iface.c.go
  bridge/bindings/BTokenErrors.iface.f.go
  bridge/bindings/BTokenErrors.iface.t.go
  bridge/bindings/ETHDKGErrors.go
  bridge/bindings/ETHDKGErrors.iface.c.go
  bridge/bindings/ETHDKGErrors.iface.f.go
  bridge/bindings/ETHDKGErrors.iface.t.go
  bridge/bindings/GovernanceErrors.go
  bridge/bindings/GovernanceErrors.iface.c.go
  bridge/bindings/GovernanceErrors.iface.f.go
  bridge/bindings/GovernanceErrors.iface.t.go
  bridge/bindings/SnapshotsErrors.go
  bridge/bindings/SnapshotsErrors.iface.c.go
  bridge/bindings/SnapshotsErrors.iface.f.go
  bridge/bindings/SnapshotsErrors.iface.t.go
  bridge/bindings/ValidatorPoolErrors.go
  bridge/bindings/ValidatorPoolErrors.iface.c.go
  bridge/bindings/ValidatorPoolErrors.iface.f.go
  bridge/bindings/ValidatorPoolErrors.iface.t.go
  bridge/bindings/bindings-artifacts/BTokenErrors.json
  bridge/bindings/bindings-artifacts/ETHDKGErrors.json
  bridge/bindings/bindings-artifacts/GovernanceErrors.json
  bridge/bindings/bindings-artifacts/SnapshotsErrors.json
  bridge/bindings/bindings-artifacts/ValidatorPoolErrors.json
  bridge/bindings/generate.sh
  bridge/bindings/iface.go
  bridge/hardhat.config.ts
Labels: go, javascript

#62 Added unit tests for StakingNFT
  bridge/bindings/PublicStaking.go
  bridge/bindings/PublicStaking.iface.c.go
  bridge/bindings/ValidatorStaking.go
  bridge/bindings/ValidatorStaking.iface.c.go
  bridge/bindings/bindings-artifacts/PublicStaking.json
  bridge/bindings/bindings-artifacts/ValidatorStaking.json
  bridge/bindings/mapping.go
  bridge/contracts/libraries/StakingNFT/StakingNFT.sol
  bridge/contracts/libraries/errors/StakingNFTErrors.sol
  bridge/test/contract-mocks/stakingNFT/MockStakingNFT.sol
  bridge/test/publicStaking/business-logic/accumulator-overflow.test.ts
  bridge/test/publicStaking/business-logic/accumulator-slush.test.ts
  bridge/test/publicStaking/business-logic/collect.test.ts
  bridge/test/publicStaking/business-logic/skim-excess.test.ts
  bridge/test/publicStaking/setup.ts
  bridge/test/setup.ts
  bridge/test/stakingDescriptor/metadata.test.ts
  bridge/test/stakingNFT/stakingNFT.test.ts
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#165 Format all files with npm run format
  .github/workflows/releaser.yml
  .goreleaser.yaml
  bridge/test/publicStaking/business-logic/collect.test.ts
Labels: javascript, actions

#163 Adding releaser CI
  .github/workflows/ci.yml
Labels: actions

#177 Cleaning modules to try and fix verifiable builds
  go.mod
  go.sum
Labels: dependencies, go

#109 Add new features to BToken
  bridge/bindings/BToken.go
  bridge/bindings/BToken.iface.c.go
  bridge/bindings/BToken.iface.t.go
  bridge/bindings/bindings-artifacts/BToken.json
  bridge/bindings/mapping.go
  bridge/contracts/BToken.sol
  bridge/contracts/Distribution.sol
  bridge/contracts/StateMigration.sol
  bridge/contracts/interfaces/IBToken.sol
  bridge/contracts/interfaces/IBridgeRouter.sol
  bridge/contracts/interfaces/IDistribution.sol
  bridge/contracts/libraries/errors/BTokenErrors.sol
  bridge/contracts/libraries/errors/DistributionErrors.sol
  bridge/contracts/utils/ImmutableAuth.sol
  bridge/contracts/utils/Mutex.sol
  bridge/test/bToken/bridge.test.ts
  bridge/test/bToken/burn.test.ts
  bridge/test/bToken/conversions.test.ts
  bridge/test/bToken/deposit.test.ts
  bridge/test/bToken/destroy.test.ts
  bridge/test/bToken/distribute.test.ts
  bridge/test/bToken/mint.test.ts
  bridge/test/bToken/settings.test.ts
  bridge/test/bToken/setup.ts
  bridge/test/bToken/transfer.test.ts
  bridge/test/bToken/utils.test.ts
  bridge/test/contract-mocks/bToken/BridgeRouterMock.sol
  bridge/test/contract-mocks/bToken/ReentrantMocks.sol
  bridge/test/distribution/settings.test.ts
  bridge/test/setup.ts
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#157 Make snapshot reverting transactions cheaper
  bridge/bindings/ETHDKG.go
  bridge/bindings/ETHDKG.iface.c.go
  bridge/bindings/Snapshots.go
  bridge/bindings/Snapshots.iface.c.go
  bridge/bindings/bindings-artifacts/ETHDKG.json
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/bindings/mapping.go
  bridge/contracts/ETHDKG.sol
  bridge/contracts/Snapshots.sol
  bridge/contracts/interfaces/IETHDKG.sol
  bridge/contracts/interfaces/ISnapshots.sol
  bridge/contracts/libraries/errors/ETHDKGErrors.sol
  bridge/contracts/libraries/errors/SnapshotsErrors.sol
  bridge/test/contract-mocks/ethdkg/ETHDKGMock.sol
  bridge/test/contract-mocks/snapshots/SnapshotsMock.sol
  bridge/test/setup.ts
  bridge/test/snapshots/assets/4-validators-snapshots-1.ts
  bridge/test/snapshots/signature.test.ts
  bridge/test/snapshots/successful-snapshot.test.ts
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#175 Fix relative imports
  bridge/contracts/AToken.sol
  bridge/contracts/libraries/parsers/BClaimsParserLibrary.sol
  bridge/contracts/libraries/parsers/MerkleProofParserLibrary.sol
  bridge/contracts/libraries/parsers/PClaimsParserLibrary.sol
  bridge/contracts/libraries/parsers/RCertParserLibrary.sol
  bridge/contracts/libraries/parsers/RClaimsParserLibrary.sol
  bridge/contracts/libraries/parsers/TXInPreImageParserLibrary.sol
  bridge/contracts/utils/ERC20SafeTransfer.sol
  bridge/contracts/utils/ImmutableAuth.sol
  bridge/contracts/utils/MagicEthTransfer.sol
  bridge/scripts/generateImmutableAuth.ts
Labels: javascript, solidity

#176 Add plugin to see contract's storage layout
  bridge/.gitignore
  bridge/hardhat.config.ts
  bridge/package-lock.json
  bridge/package.json
Labels: dependencies, javascript

#166 Fix compile warnings and regenerate some bindings
  bridge/bindings/PublicStaking.go
  bridge/bindings/PublicStaking.iface.c.go
  bridge/bindings/ValidatorStaking.go
  bridge/bindings/ValidatorStaking.iface.c.go
  bridge/bindings/bindings-artifacts/PublicStaking.json
  bridge/bindings/bindings-artifacts/ValidatorStaking.json
  bridge/test/contract-mocks/stakingNFT/MockStakingNFT.sol
Labels: go, solidity

#181 Fixed bug in consensus
  consensus/lstate/engine_test.go
  consensus/lstate/statechnglocal.go
Labels: t/bug, go

#183 Add enumeration staking nft
  bridge/bindings/PublicStaking.go
  bridge/bindings/PublicStaking.iface.c.go
  bridge/bindings/PublicStaking.iface.t.go
  bridge/bindings/ValidatorStaking.go
  bridge/bindings/ValidatorStaking.iface.c.go
  bridge/bindings/ValidatorStaking.iface.t.go
  bridge/bindings/bindings-artifacts/PublicStaking.json
  bridge/bindings/bindings-artifacts/ValidatorStaking.json
  bridge/bindings/mapping.go
  bridge/contracts/interfaces/IStakingNFT.sol
  bridge/contracts/libraries/StakingNFT/StakingNFT.sol
  bridge/contracts/libraries/StakingNFT/StakingNFTStorage.sol
  bridge/contracts/utils/AtomicCounter.sol
  bridge/contracts/utils/CircuitBreaker.sol
  bridge/test/contract-mocks/stakingNFT/MockStakingNFT.sol
  bridge/test/publicStaking/business-logic/collect.test.ts
  bridge/test/publicStaking/business-logic/mint.test.ts
  bridge/test/publicStaking/setup.ts
  bridge/test/stakingNFT/stakingNFT.test.ts
  test/mocks/bindings.mockgen.go
  test/mocks/interfaces_ethereum.mockgen.go
  test/mocks/interfaces_executor.mockgen.go
  test/mocks/interfaces_monitor.mockgen.go
  test/mocks/interfaces_transaction.mockgen.go
Labels: go, javascript, solidity

#184 Ring buffer tests
  bridge/test/contract-mocks/snapshotRingBuffer/SnapshotsRingBufferMock.sol
  bridge/test/contract-mocks/snapshotRingBuffer/snapshotStorageMock.sol
  bridge/test/ringBuffer/ring-buffer.test.ts
Labels: javascript, solidity

#156 Rename AToken/BToken to ALCA/ALCB
  bridge/bindings/BToken.go
  bridge/bindings/BToken.iface.c.go
  bridge/bindings/bindings-artifacts/BToken.json
  bridge/contracts/AToken.sol
  bridge/contracts/ATokenBurner.sol
  bridge/contracts/ATokenMinter.sol
  bridge/contracts/BToken.sol
  bridge/contracts/StateMigration.sol
  bridge/contracts/interfaces/IBToken.sol
  bridge/contracts/interfaces/IStakingToken.sol
  bridge/contracts/interfaces/IUtilityToken.sol
  bridge/contracts/libraries/errors/UtilityTokenErrors.sol
  bridge/test/contract-mocks/aToken/ATokenBurnerMock.sol
  bridge/test/contract-mocks/aToken/ATokenMinterMock.sol
  bridge/test/contract-mocks/bToken/ReentrantMocks.sol
  bridge/test/contract-mocks/registration/RegisterValidators.sol
  test/mocks/bindings.mockgen.go
Labels: go, solidity

#178 Replace signature raw in the snapshots event
  bridge/bindings/Snapshots.go
  bridge/bindings/Snapshots.iface.f.go
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/contracts/Snapshots.sol
  bridge/contracts/interfaces/ISnapshots.sol
  bridge/test/ethdkg/migration-validators.test.ts
  bridge/test/setup.ts
  bridge/test/snapshots/assets/4-validators-snapshots-1.ts
  bridge/test/snapshots/assets/4-validators-snapshots-2.ts
  bridge/test/snapshots/migration-snapshot.test.ts
  bridge/test/snapshots/snapshot-with-validators-change.test.ts
  bridge/test/snapshots/successful-snapshot.test.ts
  bridge/test/stateMigration/migration-state.test.ts
  layer1/monitor/events/snapshots.go
Labels: go, javascript, solidity

#173 Solidity native errors improved
  bridge/bindings/Snapshots.go
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/contracts/Snapshots.sol
  bridge/contracts/libraries/errors/ETHDKGErrors.sol
  bridge/contracts/libraries/errors/SnapshotsErrors.sol
  bridge/contracts/libraries/ethdkg/ETHDKGAccusations.sol
  bridge/contracts/libraries/ethdkg/ETHDKGPhases.sol
  bridge/contracts/libraries/ethdkg/ETHDKGStorage.sol
  bridge/test/ethdkg/complete-multiple-rounds.test.ts
  bridge/test/ethdkg/phases/01-registration.test.ts
  bridge/test/ethdkg/phases/02-share-distribution.test.ts
  bridge/test/ethdkg/phases/03-dispute-share-distribution.test.ts
  bridge/test/ethdkg/phases/04-keyshare-submission.test.ts
  bridge/test/ethdkg/phases/05-master-public-key-submission.test.ts
  bridge/test/ethdkg/phases/06-gpkj-submission.test.ts
  bridge/test/ethdkg/phases/07-dispute-gpkj-submission.test.ts
  bridge/test/ethdkg/phases/08-completion.test.ts
  bridge/test/ethdkg/phases/accusations/missing-gpkj-submission.test.ts
  bridge/test/ethdkg/phases/accusations/missing-keyshare-submission.test.ts
  bridge/test/ethdkg/phases/accusations/missing-registration.test.ts
  bridge/test/ethdkg/phases/accusations/missing-share-distribution.test.ts
  bridge/test/ethdkg/setup.ts
  bridge/test/snapshots/after-successful-snapshot.test.ts
  bridge/test/snapshots/migration-snapshot.test.ts
  bridge/test/snapshots/successful-snapshot.test.ts
Labels: go, javascript, solidity

#180 Migrate final require statements to solidity native errors
  bridge/bindings/AToken.go
  bridge/bindings/BToken.go
  bridge/bindings/PublicStaking.go
  bridge/bindings/Snapshots.go
  bridge/bindings/ValidatorPool.go
  bridge/bindings/ValidatorStaking.go
  bridge/bindings/bindings-artifacts/AToken.json
  bridge/bindings/bindings-artifacts/BToken.json
  bridge/bindings/bindings-artifacts/PublicStaking.json
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/bindings/bindings-artifacts/ValidatorPool.json
  bridge/bindings/bindings-artifacts/ValidatorStaking.json
  bridge/contracts/AToken.sol
  bridge/contracts/InvalidTxConsumptionAccusation.sol
  bridge/contracts/MultipleProposalAccusation.sol
  bridge/contracts/libraries/errors/AccusationsErrors.sol
  bridge/contracts/libraries/errors/CryptoLibraryErrors.sol
  bridge/contracts/libraries/errors/ERC20SafeTransferErrors.sol
  bridge/contracts/libraries/errors/ETHSafeTransferErrors.sol
  bridge/contracts/libraries/errors/RegisterValidatorErrors.sol
  bridge/contracts/libraries/errors/StakingTokenErrors.sol
  bridge/contracts/libraries/math/CryptoLibrary.sol
  bridge/contracts/utils/AccusationsLibrary.sol
  bridge/contracts/utils/ERC20SafeTransfer.sol
  bridge/contracts/utils/EthSafeTransfer.sol
  bridge/test/aToken/migration.test.ts
  bridge/test/accusations/invalid-transaction-consumption-accusations.test.ts
  bridge/test/accusations/multiple-proposal-accusations.test.ts
  bridge/test/contract-mocks/factory/MockBaseContract.sol
  bridge/test/contract-mocks/factory/MockEndPointLockable.sol
  bridge/test/contract-mocks/factory/MockInitializable.sol
  bridge/test/contract-mocks/registration/RegisterValidators.sol
  bridge/test/contract-mocks/snapshots/SnapshotsMock.sol
  bridge/test/contract-mocks/validatorPool/ValidatorPoolMock.sol
  bridge/test/publicStaking/business-logic/reentrancy.test.ts
Labels: go, javascript, solidity

#186 Make migration work with old snapshots
  application/objs/constants.go
  application/objs/vspreimage/vspreimage.go
  bridge/bindings/Governance.go
  bridge/bindings/Governance.iface.f.go
  bridge/bindings/bindings-artifacts/Governance.json
  bridge/contracts/interfaces/IGovernor.sol
  dynamics/application.go
  layer1/monitor/events/setup.go
  layer1/monitor/events/snapshots.go
  localrpc/client_test.go
  localrpc/handlers_test.go
  localrpc/setup_test.go
  test/mocks/bindings.mockgen.go
Labels: go, solidity

#187 Change bonding curve endpoint
  bridge/contracts/libraries/math/Sigmoid.sol
  bridge/test/bToken/bridge.test.ts
  bridge/test/bToken/burn.test.ts
  bridge/test/bToken/destroy.test.ts
  bridge/test/bToken/mint.test.ts
  bridge/test/bToken/utils.test.ts
  bridge/test/math/sigmoid.test.ts
Labels: javascript, solidity

#71 Add dynamics contract
  bridge/bindings/Dynamics.go
  bridge/bindings/Dynamics.iface.c.go
  bridge/bindings/Dynamics.iface.f.go
  bridge/bindings/Dynamics.iface.t.go
  bridge/bindings/Snapshots.go
  bridge/bindings/bindings-artifacts/Dynamics.json
  bridge/bindings/bindings-artifacts/Snapshots.json
  bridge/bindings/generate.sh
  bridge/bindings/iface.go
  bridge/bindings/mapping.go
  bridge/contracts/Dynamics.sol
  bridge/contracts/Snapshots.sol
  bridge/contracts/interfaces/IDynamics.sol
  bridge/contracts/libraries/dynamics/DoublyLinkedList.sol
  bridge/contracts/libraries/errors/DoublyLinkedListErrors.sol
  bridge/contracts/libraries/errors/DynamicsErrors.sol
  bridge/contracts/libraries/snapshots/SnapshotsStorage.sol
  bridge/contracts/utils/ImmutableAuth.sol
  bridge/hardhat.config.ts
  bridge/scripts/lib/alicenetTasks.ts
  bridge/test/contract-mocks/snapshots/SnapshotsMock.sol
  bridge/test/dynamics/dynamics.test.ts
  bridge/test/setup.ts
  cmd/validator/validator.go
  layer1/ethereum/contracts.go
  layer1/executor/task_scheduler.go
  layer1/executor/tasks/dynamics/version_check.go
  layer1/executor/tasks/dynamics/version_check_test.go
  layer1/layer1.go
  layer1/monitor/events/dynamics.go
  layer1/monitor/events/setup.go
  layer1/monitor/monitor.go
  layer1/monitor/monitor_test.go
  layer1/monitor/objects/state.go
  scripts/base-files/deploymentArgsTemplate
  scripts/base-files/deploymentList
  test/mocks/bindings.mockgen.go
  test/mocks/generate.go
  test/mocks/interfaces_ethereum.mockgen.go
  utils/dynamics.go
  utils/dynamics_test.go
Labels: go, javascript, solidity

#188 Clean up validator pool contract
  bridge/bindings/ValidatorPool.go
  bridge/bindings/ValidatorPool.iface.c.go
  bridge/bindings/ValidatorPool.iface.t.go
  bridge/bindings/bindings-artifacts/ValidatorPool.json
  bridge/bindings/mapping.go
  bridge/contracts/ValidatorPool.sol
  bridge/contracts/interfaces/IValidatorPool.sol
  bridge/contracts/libraries/errors/ValidatorPoolErrors.sol
  bridge/contracts/libraries/validatorPool/ValidatorPoolStorage.sol
  bridge/test/contract-mocks/validatorPool/ValidatorPoolMock.sol
  bridge/test/setup.ts
  bridge/test/validatorPool/business-logic/consensus-dependent-functions.test.ts
  bridge/test/validatorPool/invalid-access-control.test.ts
  bridge/test/validatorPool/valid-access-controls.test.ts
  scripts/base-files/deploymentArgsTemplate
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#174 Clean factory contract and refactor migration scripts.
  .devcontainer/devcontainer.json
  bridge/bindings/AliceNetFactory.go
  bridge/bindings/AliceNetFactory.iface.c.go
  bridge/bindings/AliceNetFactory.iface.t.go
  bridge/bindings/bindings-artifacts/AliceNetFactory.json
  bridge/bindings/mapping.go
  bridge/contracts/AliceNetFactory.sol
  bridge/contracts/libraries/factory/AliceNetFactoryBase.sol
  bridge/package-lock.json
  bridge/package.json
  bridge/scripts/lib/alicenetFactory.ts
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/alicenetTasks.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/test/contract-mocks/factory/MockEndPoint.sol
  bridge/test/ethdkg/setup.ts
  bridge/test/factory/APIGetters.test.ts
  bridge/test/factory/MadnetFactory.test.ts
  bridge/test/factory/MultiCall.test.ts
  bridge/test/factory/Setup.ts
  bridge/test/proxy/Proxy.test.ts
  bridge/test/setup.ts
  bridge/test/stateMigration/migration-state.test.ts
  scripts/base-files/localTestNetBaseConfig.toml
  scripts/base-scripts/hardhat-mainnet-fork.sh
  test/mocks/bindings.mockgen.go
Labels: dependencies, go, javascript, solidity

#189 Add initializer tests
  bridge/bindings/ValidatorPool.go
  bridge/bindings/ValidatorPool.iface.t.go
  bridge/bindings/bindings-artifacts/ValidatorPool.json
  bridge/test/aToken/migration.test.ts
  bridge/test/bToken/utils.test.ts
  bridge/test/contract-mocks/ethdkg/ETHDKGMock.sol
  bridge/test/dynamics/dynamics.test.ts
  bridge/test/ethdkg/initialization.test.ts
  bridge/test/publicStaking/business-logic/basic.test.ts
  bridge/test/snapshots/access-management.test.ts
  bridge/test/validatorPool/invalid-access-control.test.ts
  bridge/test/validatorStaking/access-control.test.ts
Labels: go, javascript, solidity

#162 Refactor AToken contract
  bridge/bindings/AToken.go
  bridge/bindings/AToken.iface.c.go
  bridge/bindings/AToken.iface.t.go
  bridge/bindings/bindings-artifacts/AToken.json
  bridge/bindings/mapping.go
  bridge/contracts/AToken.sol
  bridge/contracts/interfaces/IStakingToken.sol
  bridge/contracts/libraries/errors/StakingTokenErrors.sol
  bridge/test/aToken/burning.test.ts
  bridge/test/aToken/migration.test.ts
  bridge/test/aToken/minting.test.ts
  bridge/test/aToken/setup.ts
  bridge/test/contract-mocks/legacyToken/LegacyToken.sol
  bridge/test/setup.ts
  scripts/base-files/deploymentList.json
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#204 Add initial documentation for the validator pool contract
  bridge/contracts/ValidatorPool.sol
Labels: solidity

#205 Added tests for erc721 enumerable
  bridge/test/publicStaking/business-logic/basic.test.ts
Labels: javascript

#190 Fix migration scripts not running initialize logic
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/alicenetTasks.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/test/stateMigration/migration-state.test.ts
Labels: javascript

#206 Adding in version stamping
  Makefile
  cmd/main.go
  cmd/validator/validator.go
  config/settings.go
  layer1/executor/tasks/dynamics/version_check.go
  layer1/executor/tasks/dynamics/version_check_test.go
  layer1/monitor/events/dynamics.go
  layer1/monitor/monitor_test.go
  utils/dynamics.go
  utils/dynamics_test.go
Labels: go

#208 Bug fixes on fast sync
  cmd/validator/validator.go
  consensus/lstate/fastsync.go
  layer1/monitor/events/deposits.go
  layer1/monitor/events/setup.go
  layer1/monitor/monitor.go
  layer1/monitor/monitor_test.go
Labels: go

#209 Release/v0.0.5
  application/utxohandler/utxohandler.go
  dynamics/consensus.go
Labels: go

#98 Application pendingtx tests
  application/pendingtx/pendingindex/pendingtxindexer_test.go
  application/txhandler.go
  application/wrapper/storage.go
  application/wrapper/storage_test.go
  dynamics/mocks/storage.mockgen.go
  dynamics/storage.go
Labels: go

#214 fix bug scripts
  bridge/scripts/lib/alicenetTasks.ts
Labels: javascript

#216 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: docs

#219 Clean up unused variables in the config.toml
  cmd/main.go
  cmd/validator/validator.go
  config/settings.go
  constants/layer1.go
  localrpc/setup_test.go
  scripts/base-files/baseConfig
  scripts/main.sh
Labels: go
