Repository alicenet/alicenet, pull requests merged in 2022-10, with the labels that each got.

#283 fixed chainID for bootnode and peers address
  localrpc/validator.toml
  peering/peermanager.go
  scripts/base-files/baseConfig
  scripts/base-files/localTestNetBaseConfig.toml
  transport/nodeaddr.go
  transport/nodeaddr_test.go
Labels: go

#325 Improved concurrency, caching and locking when processing local Round States
  consensus/accusation/manager.go
  consensus/accusation/manager_test.go
Labels: go

#328 Improve some logs
  layer1/ethereum/ethereum.go
  layer1/monitor/events/deposits.go
Labels: go

#327 Add script to deploy ALCB locally
  bridge/scripts/lib/alicenetTasks.ts
  scripts/base-scripts/deploy.sh
Labels: javascript

#330 Started adding package-level comments.
  application/application.go
  application/deposit/deposit.go
  application/minedtx/minedtxhandler.go
  application/objs/utils.go
  application/pendingtx/pendingtxhandler.go
  application/utxohandler/utxohandler.go
  constants/shared.go
  crypto/bn256/bn256.go
  crypto/errors.go
  crypto/secp256k1/secp256k1.go
  dynamics/storage.go
Labels: go

#338 using onERC721Received for locking up position
  bridge/contracts/Lockup.sol
  bridge/test/lockup/lockup.test.ts
Labels: javascript, solidity

#67 Adding subscription to the task scheduler
  cmd/node/node.go
  constants/dbprefix/layer1.go
  constants/layer1.go
  layer1/executor/interfaces.go
  layer1/executor/marshaller/generic_marshaller.go
  layer1/executor/mocks/generate.go
  layer1/executor/mocks/interfaces_executor.mockgen.go
  layer1/executor/model.go
  layer1/executor/task_executor.go
  layer1/executor/task_executor_test.go
  layer1/executor/task_handler.go
  layer1/executor/task_handler_test.go
  layer1/executor/task_manager.go
  layer1/executor/task_manager_test.go
  layer1/executor/task_scheduler.go
  layer1/executor/task_scheduler_test.go
  layer1/executor/tasks/base_task.go
  layer1/executor/tasks/constants.go
  layer1/executor/tasks/dynamics/version_check_test.go
  layer1/executor/tasks/interfaces.go
  layer1/executor/tasks/mocks/generate.go
  layer1/executor/tasks/mocks/interfaces_tasks.mockgen.go
  layer1/executor/tasks/tests/completion_test.go
  layer1/executor/tasks/tests/dispute_gpkj_test.go
  layer1/executor/tasks/tests/dispute_missing_gpkj_test.go
  layer1/executor/tasks/tests/dispute_missing_key_shares_test.go
  layer1/executor/tasks/tests/dispute_missing_registration_test.go
  layer1/executor/tasks/tests/dispute_missing_share_distribution_test.go
  layer1/executor/tasks/tests/dispute_share_distribution_test.go
  layer1/executor/tasks/tests/gpkj_submission_test.go
  layer1/executor/tasks/tests/keyshare_submission_test.go
  layer1/executor/tasks/tests/mpk_submission_test.go
  layer1/executor/tasks/tests/register_test.go
  layer1/executor/tasks/tests/setup_test.go
  layer1/executor/tasks/tests/share_distribution_test.go
  layer1/monitor/events/dynamics.go
  layer1/monitor/events/ethdkg.go
  layer1/monitor/events/setup.go
  layer1/monitor/events/snapshots.go
  layer1/monitor/events/tests/ethdkg_test.go
  layer1/monitor/monitor.go
  layer1/monitor/monitor_test.go
  test/mocks/generate.go
Labels: go

#218 Improve documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  bridge/README.md
Labels: docs

#251 Refactor golang dynamic system
  application/minedtx/mined_test.go
  application/minedtx/mockstorage_test.go
  application/objs/ds.go
  application/objs/ds_test.go
  application/objs/storage_mock.go
  application/objs/tx.go
  application/objs/tx_test.go
  application/objs/vs_test.go
  application/txhandler.go
  application/wrapper/storage.go
  application/wrapper/storage_test.go
  bridge/scripts/lib/alicenetTasks.ts
  cmd/node/node.go
  cmd/testutils/validator-reset/validator.go
  consensus/admin/handlers.go
  consensus/lstate/engine.go
  consensus/lstate/engine_test.go
  consensus/lstate/fastsync_test.go
  consensus/request/handlers.go
  consensus/request/handlers_test.go
  consensus/synchronizer.go
  consensus/synchronizer_test.go
  constants/dbprefix/consensus.go
  dynamics/application.go
  dynamics/consensus.go
  dynamics/db.go
  dynamics/db_test.go
  dynamics/dynamics.go
  dynamics/dynamics_test.go
  dynamics/errors.go
  dynamics/linkedlist.go
  dynamics/linkedlist_test.go
  dynamics/mocks/storage.mockgen.go
  dynamics/node.go
  dynamics/node_test.go
  dynamics/nodekey.go
  dynamics/nodekey_test.go
  dynamics/rawdb.go
  dynamics/rawdb_mock.go
  dynamics/rawstorage.go
  dynamics/rawstorage_test.go
  dynamics/storage.go
  dynamics/storage_test.go
  dynamics/update.go
  dynamics/update_test.go
  dynamics/values.go
  dynamics/values_test.go
  go.mod
  go.sum
  layer1/executor/tasks/tests/setup_test.go
  layer1/executor/tasks/tests/snapshot_test.go
  layer1/monitor/events/dynamics.go
  layer1/monitor/events/setup.go
  layer1/monitor/interfaces/interfaces.go
  localrpc/client_test.go
  localrpc/handlers.go
  localrpc/handlers_test.go
  localrpc/setup_test.go
  localrpc/testDB/000000.vlog
  test/mocks/interfaces_monitor.mockgen.go
Labels: dependencies, go, javascript

#442 Fix typescript linter execution
  bridge/.eslintrc.js
  bridge/package.json
  bridge/scripts/generateImmutableAuth.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/scripts/lib/deployment/factoryStateUtil.ts
  bridge/test/publicStaking/business-logic/accumulator-slush.test.ts
  bridge/test/publicStaking/business-logic/collect.test.ts
  bridge/test/setup.ts
Labels: dependencies, javascript

#317 New requirements for the init cmd
  bridge/scripts/lib/alicenetTasks.ts
  cmd/ethkey/changepassword.go
  cmd/ethkey/generate.go
  cmd/ethkey/inspect.go
  cmd/ethkey/utils.go
  cmd/ethkey/utils_test.go
  cmd/initialization/initialization.go
  cmd/main.go
  config/settings.go
  config/toml.go
  layer1/ethereum/ethereum.go
  layer1/ethereum/tests/ethereum_test.go
Labels: go, javascript

#370 Migrate off custom brontide transport
  cmd/bootnode/bootnode.go
  go.mod
  go.sum
  peering/peermanager.go
  scripts/main.sh
  transport/brontide/conn.go
  transport/brontide/listener.go
  transport/brontide/noise.go
  transport/brontide/noise_test.go
  transport/brontide/utils.go
  transport/nodeaddr.go
  transport/p2pconn.go
  transport/posthandshakes.go
  transport/transport.go
  transport/transportFail_test.go
  transport/utils.go
Labels: dependencies, go

#448 Additional clean in the AliceNet factory
  bridge/bindings/AliceNetFactory.go
  bridge/bindings/AliceNetFactory.iface.t.go
  bridge/bindings/mapping.go
  bridge/contracts/AliceNetFactory.sol
  bridge/contracts/libraries/factory/AliceNetFactoryBase.sol
  bridge/test/setup.ts
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#357 Tasks closing
  cmd/node/node.go
  layer1/executor/interfaces.go
  layer1/executor/mocks/interfaces_executor.mockgen.go
  layer1/executor/model.go
  layer1/executor/task_executor.go
  layer1/executor/task_executor_test.go
  layer1/executor/task_handler.go
  layer1/executor/task_handler_test.go
  layer1/executor/task_manager.go
  layer1/executor/tasks/base_task.go
  layer1/executor/tasks/dynamics/version_check_test.go
  layer1/executor/tasks/errors.go
  layer1/executor/tasks/interfaces.go
  layer1/executor/tasks/mocks/interfaces_tasks.mockgen.go
  layer1/executor/tasks/tests/completion_test.go
  layer1/executor/tasks/tests/dispute_gpkj_test.go
  layer1/executor/tasks/tests/dispute_missing_gpkj_test.go
  layer1/executor/tasks/tests/dispute_missing_key_shares_test.go
  layer1/executor/tasks/tests/dispute_missing_registration_test.go
  layer1/executor/tasks/tests/dispute_missing_share_distribution_test.go
  layer1/executor/tasks/tests/dispute_share_distribution_test.go
  layer1/executor/tasks/tests/gpkj_submission_test.go
  layer1/executor/tasks/tests/keyshare_submission_test.go
  layer1/executor/tasks/tests/mpk_submission_test.go
  layer1/executor/tasks/tests/register_test.go
  layer1/executor/tasks/tests/setup_test.go
  layer1/executor/tasks/tests/share_distribution_test.go
  layer1/executor/tasks/tests/snapshot_test.go
  layer1/monitor/events/dynamics.go
  layer1/monitor/events/ethdkg.go
  layer1/monitor/events/snapshots.go
  layer1/monitor/monitor.go
Labels: go
