Repository alicenet/alicenet, pull requests merged in 2022-12, with the labels that each got.

#542 Updating gotestfmt
  .github/workflows/ci.yml
  go.mod
  go.sum
  tools.go
Labels: dependencies, go, actions

#528 [291] Enable lint check gosimple
  .golangci.yaml
  cmd/ethkey/generate.go
  cmd/ethkey/utils.go
  cmd/initialization/initialization.go
  cmd/testutils/layer1_tx_spammer/main.go
  dynamics/dynamics.go
  dynamics/node.go
  layer1/executor/task_executor_test.go
  layer1/tests/hardhat.go
Labels: go

#477 Deployment script refactoring + contract deployment json read/write
  bridge/.solcover.ts
  bridge/contracts/ALCB.sol
  bridge/contracts/Distribution.sol
  bridge/contracts/DutchAuction.sol
  bridge/contracts/Lockup.sol
  bridge/contracts/StakingRouterV1.sol
  bridge/hardhat.config.ts
  bridge/scripts/deployAllContracts.ts
  bridge/scripts/generateDeployList.ts
  bridge/scripts/generateDeploymentArgTemplate.ts
  bridge/scripts/getInitCallData.ts
  bridge/scripts/lib/alicenetFactory.ts
  bridge/scripts/lib/alicenetFactoryTasks.ts
  bridge/scripts/lib/constants.ts
  bridge/scripts/lib/deployment/deployArgUtil.ts
  bridge/scripts/lib/deployment/deploymentConfigUtil.ts
  bridge/scripts/lib/deployment/deploymentListUtil.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/scripts/lib/deployment/factoryStateUtil.ts
  bridge/scripts/lib/deployment/interfaces.ts
  bridge/scripts/lib/deployment/tasks.ts
  bridge/scripts/lib/deployment/utils.ts
  bridge/scripts/sumGasInFactoryState.ts
  bridge/scripts/tasks/alicenetFactoryTasks.ts
  bridge/scripts/tasks/alicenetTasks.ts
  bridge/scripts/tasks/generateImmutableAuth.ts
  bridge/scripts/tasks/gogogen.ts
  bridge/test/StakingRouterV1/accessors.test.ts
  bridge/test/StakingRouterV1/stakingRouterV1.test.ts
  bridge/test/contract-mocks/bridgePool/BridgePoolFactoryERC777Mock.sol
  bridge/test/contract-mocks/factory/MockInitializableConstructable.sol
  bridge/test/contract-mocks/factory/MockWithConstructor.sol
  bridge/test/factory/APIGetters.test.ts
  bridge/test/factory/AliceNetFactory.test.ts
  bridge/test/factory/CLI.test.ts
  bridge/test/factory/MultiCall.test.ts
  bridge/test/factory/Setup.ts
  bridge/test/lockup/lockup.test.ts
  bridge/test/lockup/setup.ts
  bridge/test/publicStaking/business-logic/accumulator-overflow.test.ts
  bridge/test/publicStaking/business-logic/skim-excess.test.ts
  bridge/test/setup.ts
  bridge/test/stateMigration/migration-state.test.ts
  cmd/testutils/extractor/main.go
  layer1/tests/hardhat.go
  scripts/base-files/deploymentArgsTemplate
  scripts/base-files/deploymentConfig.json
  scripts/base-files/deploymentList
  scripts/base-files/deploymentList.json
  scripts/base-scripts/approvetokens.sh
  scripts/base-scripts/deploy.sh
  scripts/base-scripts/deposit.sh
  scripts/base-scripts/ethdkg.sh
  scripts/base-scripts/register.sh
  scripts/base-scripts/schedule-maintenance.sh
  scripts/base-scripts/unregister.sh
Labels: go, javascript, solidity

#543 [291] Lint ineffassign
  .golangci.yaml
  cmd/initialization/initialization.go
  consensus/lstate/engine_test.go
  consensus/lstate/localstate_test.go
  layer1/executor/tasks/tests/dispute_share_distribution_test.go
  layer1/executor/tasks/tests/mpk_submission_test.go
  layer1/executor/tasks/tests/register_test.go
  layer1/executor/tasks/tests/snapshot_test.go
  layer1/monitor/events/ethdkg.go
  layer1/monitor/monitor_test.go
  localrpc/setup_test.go
Labels: go

#546 Add new getters to Dynamics contract
  bridge/bindings/Dynamics.go
  bridge/bindings/Dynamics.iface.c.go
  bridge/bindings/bindings-artifacts/Dynamics.json
  bridge/bindings/mapping.go
  bridge/contracts/Dynamics.sol
  bridge/contracts/interfaces/IDynamics.sol
  bridge/contracts/libraries/dynamics/DoublyLinkedList.sol
  bridge/test/dynamics/dynamics.test.ts
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#547 291 Lint static check
  application/pendingtx/pending_test.go
  application/txhandler_test.go
  application/utxohandler/utxohandler_test.go
  cmd/firewalld/gcloud/metadata.go
  cmd/firewalld/lib/cmd.go
  cmd/main.go
  consensus/gossip/state_test.go
  consensus/lstate/engine_test.go
  dynamics/db_test.go
  dynamics/values_test.go
  layer1/ethereum/ethereum.go
  layer1/executor/task_executor_test.go
  layer1/executor/task_manager.go
  layer1/executor/tasks/tests/snapshot_test.go
  layer1/monitor/events/ethdkg.go
  localrpc/setup_test.go
  test/mocks/db.go
  test/mocks/logger.go
  utils/dbtools_test.go
Labels: go

#552 Make wrong deposit processable
  application/utxohandler/utxohandler.go
Labels: go

#550 Add new CLI tool to clean dynamics values from validators db
  cmd/testutils/validator-reset/validator.go
Labels: go

#554 Add new task to transfer ALCA from factory
  bridge/scripts/tasks/alicenetTasks.ts
Labels: javascript

#558 Set blocktime during dynamics initialiazer
  bridge/bindings/ALCA.go
  bridge/bindings/ALCA.iface.c.go
  bridge/bindings/Dynamics.go
  bridge/bindings/Dynamics.iface.t.go
  bridge/bindings/bindings-artifacts/ALCA.json
  bridge/bindings/bindings-artifacts/Dynamics.json
  bridge/bindings/mapping.go
  bridge/contracts/Dynamics.sol
  bridge/test/dynamics/dynamics.test.ts
  bridge/test/setup.ts
  cmd/main.go
  scripts/base-files/deploymentConfig.json
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#559 Make keys case-incentive and fix bugs
  layer1/ethereum/contracts.go
  layer1/ethereum/ethereum.go
Labels: go

#560 Fix infinite loop bug when some contracts are not deployed
  layer1/ethereum/contracts.go
Labels: go

#564 updated migration
  bridge/scripts/tasks/alicenetTasks.ts
Labels: javascript

#562 Fix zero address filtering
  cmd/node/node.go
  layer1/ethereum/contracts.go
  layer1/ethereum/ethereum.go
  layer1/monitor/events/setup.go
  layer1/monitor/monitor.go
Labels: go

#579 Fix bug when tasks have the same start and end block
  layer1/executor/task_manager.go
Labels: go

#578 Add hardhat task to verify contracts using config.toml
  bridge/scripts/lib/deployment/utils.ts
  bridge/scripts/tasks/alicenetFactoryTasks.ts
Labels: javascript
