Repository alicenet/alicenet, pull requests merged in 2022-11, with the labels that each got.

#460 eth personal_sign validation
  crypto/secp.go
Labels: go

#461 Fix race concurrency in the tests
  layer1/executor/task_handler_test.go
Labels: go

#137 Dutch Auction Contracts
  bridge/contracts/DutchAuction.sol
  bridge/test/dutchAuction/test.ts
Labels: javascript, solidity

#479 Adding in more flakes
  layer1/executor/task_handler_test.go
Labels: go

#482 Attempting to fix bad module import
  go.mod
Labels: dependencies, go

#340 Add lockup contracts
  bridge/contracts/BonusPool.sol
  bridge/contracts/Lockup.sol
  bridge/contracts/RewardPool.sol
  bridge/contracts/StakingRouterV1.sol
  bridge/contracts/libraries/errors/LockupErrors.sol
  bridge/contracts/libraries/lockup/AccessControlled.sol
  bridge/hardhat.config.ts
  bridge/scripts/lib/deployment/deploymentUtil.ts
  bridge/test/StakingRouterV1/accessors.test.ts
  bridge/test/StakingRouterV1/setup.ts
  bridge/test/StakingRouterV1/stakingRouterV1.test.ts
  bridge/test/bonusPool/access-control.test.ts
  bridge/test/bonusPool/accessors.test.ts
  bridge/test/bonusPool/business-logic.test.ts
  bridge/test/bonusPool/setup.ts
  bridge/test/contract-mocks/centralBridgeRouter/TestUtils.sol
  bridge/test/factory/CLI.test.ts
  bridge/test/lockup/access-control.test.ts
  bridge/test/lockup/accessors.test.ts
  bridge/test/lockup/aggregateProfits.test.ts
  bridge/test/lockup/collect.test.ts
  bridge/test/lockup/distribution.test.ts
  bridge/test/lockup/estimation.test.ts
  bridge/test/lockup/lockup.test.ts
  bridge/test/lockup/setup.ts
  bridge/test/lockup/test.data.ts
  bridge/test/lockup/unlock-early.test.ts
  bridge/test/lockup/unlock.test.ts
  bridge/test/rewardPool/access-control.test.ts
  bridge/test/rewardPool/accessors.test.ts
  bridge/test/rewardPool/business-logic.test.ts
  bridge/test/rewardPool/setup.ts
  bridge/test/setup.ts
  cmd/bootnode/bootnode.go
  layer1/executor/task_handler.go
  scripts/base-files/deploymentArgsTemplate
  scripts/base-files/deploymentList
Labels: go, javascript, solidity

#280 BridgePool Factory
  .gitignore
  application/objs/dspi.go
  bridge/contracts/BridgePoolFactory.sol
  bridge/contracts/interfaces/IBridgePool.sol
  bridge/contracts/libraries/errors/BridgePoolFactoryErrors.sol
  bridge/contracts/libraries/factory/BridgePoolFactoryBase.sol
  bridge/contracts/utils/BridgePoolAddressUtil.sol
  bridge/test/bridgePoolFactory/native-deployment.test.ts
  bridge/test/contract-mocks/bridgePool/BridgePoolFactoryBaseERC777Mock.sol
  bridge/test/contract-mocks/bridgePool/BridgePoolFactoryERC777Mock.sol
  bridge/test/contract-mocks/bridgePool/ERC20Mock.sol
  bridge/test/setup.ts
  peering/active.go
Labels: go, javascript, solidity

#497 Another flakey test
  layer1/executor/task_handler_test.go
Labels: go

#475 Refactor Deploy.sh
  cmd/testutils/extractor/main.go
  scripts/base-scripts/deploy.sh
Labels: go

#513 Update Openzepellin contracts
  .gitignore
  bridge/package-lock.json
  bridge/package.json
  bridge/test/lockup/unlock.test.ts
  bridge/test/publicStaking/business-logic/transfer.test.ts
  bridge/test/validatorPool/business-logic/register.test.ts
Labels: dependencies, javascript

#514 Fix flaky unit tests
  dynamics/mocks/storage.mockgen.go
  layer1/executor/mocks/interfaces_executor.mockgen.go
  layer1/executor/task_executor.go
  layer1/executor/task_executor_test.go
  layer1/executor/task_handler_test.go
  layer1/executor/tasks/mocks/interfaces_tasks.mockgen.go
  test/mocks/bindings.mockgen.go
  test/mocks/interfaces_ethereum.mockgen.go
  test/mocks/interfaces_monitor.mockgen.go
  test/mocks/interfaces_transaction.mockgen.go
Labels: go

#515 Fix bug in the deploy.sh script
  cmd/testutils/extractor/main.go
  scripts/base-scripts/deploy.sh
Labels: go

#521 Mark assembly blocks as safe
  bridge/contracts/Dynamics.sol
  bridge/contracts/Foundation.sol
  bridge/contracts/Proxy.sol
  bridge/contracts/libraries/factory/BridgePoolFactoryBase.sol
  bridge/contracts/libraries/math/CryptoLibrary.sol
  bridge/contracts/libraries/parsers/BaseParserLibrary.sol
  bridge/contracts/utils/AccusationsLibrary.sol
  bridge/contracts/utils/Base64.sol
  bridge/contracts/utils/ETHDKGUtils.sol
  bridge/contracts/utils/MerkleProofLibrary.sol
  bridge/contracts/utils/Utils.sol
  bridge/test/contract-mocks/bridgePool/BridgePoolFactoryBaseERC777Mock.sol
  bridge/test/contract-mocks/centralBridgeRouter/TestUtils.sol
Labels: solidity

#500 Change ETHDKG delegateCall method and add history of MPKs
  bridge/bindings/ETHDKG.go
  bridge/bindings/ETHDKG.iface.c.go
  bridge/bindings/bindings-artifacts/ETHDKG.json
  bridge/bindings/mapping.go
  bridge/contracts/ETHDKG.sol
  bridge/contracts/InvalidTxConsumptionAccusation.sol
  bridge/contracts/libraries/errors/ETHDKGErrors.sol
  bridge/contracts/libraries/ethdkg/ETHDKGPhases.sol
  bridge/contracts/libraries/ethdkg/ETHDKGStorage.sol
  bridge/test/contract-mocks/ethdkg/ETHDKGMock.sol
  bridge/test/ethdkg/complete-multiple-rounds.test.ts
  bridge/test/ethdkg/migration-validators.test.ts
  bridge/test/ethdkg/phases/08-completion.test.ts
  test/mocks/bindings.mockgen.go
Labels: go, javascript, solidity

#522 291 Clean structtag
  layer1/executor/model.go
Labels: go

#501 [291] Enable lint errcheck
  .devcontainer/devcontainer.json
  .golangci.yaml
  cmd/testutils/layer1_tx_spammer/main.go
  consensus/objs/rs.go
  dynamics/db_test.go
  dynamics/dynamics_test.go
  layer1/executor/task_executor.go
  layer1/executor/task_manager.go
  layer1/executor/tasks/tests/register_test.go
Labels: go

#526 Cleaning out linting action
  .github/workflows/ci.yml
Labels: actions

#524 Fix flaky lockup test
  bridge/test/lockup/unlock.test.ts
Labels: javascript

#537 Add new task to deploy and register lockup
  bridge/contracts/BonusPool.sol
  bridge/scripts/lib/alicenetTasks.ts
  scripts/base-files/deploymentArgsTemplate
  scripts/base-files/deploymentList
  scripts/base-scripts/deploy.sh
Labels: javascript, solidity

#523 Add mpk check in the accusations
  bridge/contracts/InvalidTxConsumptionAccusation.sol
  bridge/contracts/interfaces/IETHDKG.sol
  bridge/contracts/libraries/errors/AccusationsErrors.sol
  bridge/test/accusations/invalid-transaction-consumption-accusations.test.ts
  bridge/test/contract-mocks/accusation/AccusationsLibraryMock.sol
  bridge/test/contract-mocks/ethdkg/ETHDKGMock.sol
  bridge/test/contract-mocks/snapshots/SnapshotsMock.sol
Labels: javascript, solidity
