Repository alicenet/alicenet, pull requests merged in 2023-02, with the labels that each got.

#627 Fix UTXOTrie Bug
  application/utxohandler/utxotrie/utxotrie.go
Labels: go

#637 Additional Application documentation
  application/application.go
  application/db/getsettype.go
  application/indexer/data.go
  application/indexer/epoch.go
  application/indexer/expsize.go
  application/indexer/heightidx.go
  application/indexer/order.go
  application/indexer/refcount.go
  application/indexer/reflinker.go
  application/indexer/value.go
  application/minedtx/minedtxhandler.go
  application/objs/dsowner.go
  application/objs/owner.go
  application/objs/tx.go
  application/pendingtx/pendingindex/pendingtxindexer.go
  application/pendingtx/pendingtxhandler.go
  application/txhandler.go
  application/utxohandler/utxohandler.go
  application/utxohandler/utxotrie/utxotrie.go
Labels: go, area/docs

#646 Fix bug stopping monitor from running
  constants/shared.go
Labels: go

#645 Speeding up coverage run
  .vscode/settings.json
  bridge/.solcover.ts
  bridge/hardhat.config.ts
  bridge/package-lock.json
  bridge/test/StakingRouterV1/accessors.test.ts
  bridge/test/StakingRouterV1/stakingRouterV1.test.ts
  bridge/test/bonusPool/access-control.test.ts
  bridge/test/bonusPool/accessors.test.ts
  bridge/test/bonusPool/business-logic.test.ts
  bridge/test/ethdkg/complete-multiple-rounds.test.ts
  bridge/test/ethdkg/complete-round.test.ts
  bridge/test/ethdkg/migration-validators.test.ts
  bridge/test/ethdkg/phases/01-registration.test.ts
  bridge/test/ethdkg/phases/02-share-distribution.test.ts
  bridge/test/ethdkg/phases/03-dispute-share-distribution.test.ts
  bridge/test/ethdkg/phases/04-keyshare-submission.test.ts
  bridge/test/ethdkg/phases/05-master-public-key-submission.test.ts
  bridge/test/ethdkg/phases/06-gpkj-submission.test.ts
  bridge/test/ethdkg/phases/07-dispute-gpkj-submission.test.ts
  bridge/test/ethdkg/phases/08-completion.test.ts
  bridge/test/ethdkg/phases/accusations/missing-gpkj-submission.test.ts
  bridge/test/ethdkg/phases/accusations/missing-keyshare-submission.test.ts
  bridge/test/ethdkg/phases/accusations/missing-registration.test.ts
  bridge/test/ethdkg/phases/accusations/missing-share-distribution.test.ts
  bridge/test/lockup/access-control.test.ts
  bridge/test/lockup/accessors.test.ts
  bridge/test/lockup/aggregateProfits.test.ts
  bridge/test/lockup/collect.test.ts
  bridge/test/lockup/distribution.test.ts
  bridge/test/lockup/estimation.test.ts
  bridge/test/lockup/lockup.test.ts
  bridge/test/lockup/unlock-early.test.ts
  bridge/test/lockup/unlock.test.ts
  bridge/test/math/valid-signatures.test.ts
  bridge/test/snapshots/ring-buffer.test.ts
  bridge/test/validatorPool/business-logic/consensus-dependent-functions.test.ts
Labels: dependencies, javascript

#667 Update staking metadata svg
  bridge/contracts/libraries/metadata/StakingSVG.sol
  bridge/scripts/lib/deployment/tasks.ts
  bridge/stakingMetadataTemplate.svg
  bridge/test/setup.ts
  bridge/test/stakingDescriptor/metadata.test.ts
  bridge/test/stakingPositionDescriptor/stake-nft-metadata.test.ts
  bridge/test/stakingSVG/stake-nft-svg.test.ts
  bridge/test/validatorStaking/business-logic.test.ts
Labels: javascript, solidity

#649 [291] Spell check
  .github/workflows/ci.yml
  .golangci.yaml
  application/utxohandler/utxotrie/utxotrie_test.go
  cmd/firewalld/firewalld.go
  cmd/testutils/layer1_tx_spammer/main.go
  layer1/executor/task_executor.go
  layer1/executor/task_manager.go
Labels: go, actions

#647 Add lookup for ALCB
  layer1/chains/ethereum/contracts.go
Labels: go

#636 Fix Potential Problem in MinedTxHandler
  application/minedtx/mined_test.go
  application/minedtx/minedtxhandler.go
Labels: go

#673 update APS with owner()
  bridge/bindings/bindings-artifacts/PublicStaking.json
  bridge/bindings/bindings-artifacts/ValidatorStaking.json
  bridge/contracts/interfaces/IAliceNetFactory.sol
  bridge/contracts/libraries/StakingNFT/StakingNFT.sol
  bridge/contracts/libraries/StakingNFT/StakingNFTStorage.sol
  bridge/scripts/lib/deployment/tasks.ts
  bridge/scripts/tasks/alicenetFactoryTasks.ts
  bridge/scripts/tasks/alicenetTasks.ts
Labels: javascript, solidity
