Repository alicenet/alicenet, pull requests merged in 2023-01, with the labels that each got.

#589 Fix flaky Foundry fuzz test for `mintTo`
  bridge/test_sol/alcb/ALCB.mint.t.sol
Labels: solidity

#618 Token distribution
  bridge/hardhat.config.ts
  bridge/package-lock.json
  bridge/package.json
  bridge/scripts/lib/constants.ts
  bridge/scripts/tasks/alicenetTasks.ts
Labels: dependencies, javascript

#613 [291] Lint identify test helpers
  .golangci.yaml
  application/minedtx/mined_test.go
  application/objs/ds_test.go
  application/objs/dsl_test.go
  application/objs/dspi_test.go
  application/objs/tx_test.go
  application/objs/txin_test.go
  application/objs/txinl_test.go
  application/objs/txinpi_test.go
  application/objs/vs_test.go
  application/objs/vspi_test.go
  application/pendingtx/pending_test.go
  application/utxohandler/utxohandler_test.go
  consensus/db/db_test.go
  consensus/dman/actors_test.go
  consensus/gossip/state_test.go
  consensus/lstate/appman_test.go
  consensus/lstate/engine_test.go
  consensus/lstate/fastsync_test.go
  consensus/lstate/handlers_test.go
  consensus/lstate/sstore_test.go
  consensus/objs/bclaims_test.go
  consensus/objs/phlkey_test.go
  consensus/objs/plkey_test.go
  consensus/objs/pnkey_test.go
  consensus/objs/rclms_test.go
  consensus/objs/rs_test.go
  consensus/objs/rskeycurr_test.go
  consensus/objs/rskeyhist_test.go
  consensus/objs/safetoproceedkey_test.go
  consensus/objs/sbhkey_test.go
  consensus/objs/state_test.go
  consensus/objs/txcachekey_test.go
  consensus/objs/vskey_test.go
  consensus/request/client_test.go
  consensus/request/handlers_test.go
  crypto/bn256/cloudflare/bls_test.go
  crypto/bn256/cloudflare/gfp2_test.go
  crypto/bn256/cloudflare/gfp_test.go
  layer1/chains/ethereum/tasks/dkg/state/validate_test.go
  layer1/chains/ethereum/tasks/tests/setup_test.go
  layer1/chains/ethereum/tasks/tests/snapshot_test.go
  layer1/chains/ethereum/tasks/tests/utils/setup.go
  layer1/evm/tests/setup_test.go
  layer1/executor/task_executor_test.go
  layer1/executor/task_handler_test.go
  layer1/monitor/monitor_test.go
  layer1/monitor/objects/state_test.go
  layer1/tests/setup.go
  layer1/transaction/tests/setup_test.go
  layer1/transaction/tests/transaction_test.go
  transport/transportFail_test.go
  transport/transportSuccess_test.go
Labels: go

#603 [291] Lint decorder and exhaustive
  .golangci.yaml
  consensus/dman/actors.go
  layer1/monitor/monitor.go
  peering/peermanager.go
Labels: go

#602 [291] Lint bodyclose
  .golangci.yaml
  layer1/tests/hardhat.go
Labels: go

#615 Fixing Sparse Merkle Tree implementation
  application/utxohandler/utxotrie/testdata/corrupted_smt_full.json
  application/utxohandler/utxotrie/testdata/corrupted_smt_simplified.json
  application/utxohandler/utxotrie/utxotrie_test.go
  badgerTrie/smt.go
Labels: go

#599 Additional Alcb foundry tests
  bridge/package.json
  bridge/test_sol/Setup.sol
  bridge/test_sol/alcb/ALCB.burn.t.sol
  bridge/test_sol/alcb/ALCB.distribute.t.sol
  bridge/test_sol/alcb/ALCB.mint.t.sol
Labels: dependencies, javascript, solidity
